@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: theme('colors.gray.900');
}
.main-background {
  @apply bg-blue-700;
}
.main-background-gradient {
  @apply bg-gradient-to-b from-blue-600 to-blue-500 opacity-75;
}
.light-background{
  @apply bg-gray-200;
}
.dark-background{
  @apply bg-gray-700;
}
.action-background{
  @apply bg-blue-800
}
.main-text{
  @apply text-blue-800;
}
.light-text{
  @apply text-gray-500;
}
.dark-text{
  @apply text-gray-700;
}
.block{
  position: relative;
}
.block-editable{
  min-height: 20px;
  min-width: 20px;
}
.block-editable:hover{
  outline: 1px solid #00000040;
}
.composer .hidden{
  display: block !important;
  outline: 2px dashed red;
}

/*.block-editable{
  position: relative;
  min-height: 20px;
  min-width: 20px;
  outline: 1px dotted #00000020;

}
.block-editable:hover{
  outline: 1px solid #00000060;
}
.block-edit-handler{
  visibility: hidden;
}
.block-edit-handler.forced-visible{
  visibility: visible;
}
.block-editable:hover > .block-edit-handler{
  visibility: visible;
}*/



